:root {
  --colorcabecera: #5e81d1;
  --colorsection: #f87500;
  --colorcuerpo: #ff8d27;
}
  * {
  box-sizing: border-box;
  }
body{
  margin: 0;
  background-color: var(--colorcuerpo);
}
.cabecera {
  margin: 0;
  background-color: var(--colorcabecera);
}
.seccion {
  background-color: var(--colorsection);
}
.cabecera  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.cabecera h1,ul {
  margin: 20px;
}
.menu {
  padding: 0px;
}
.cabecera .menu>li {
  display: inline-block;
  padding: 5px;
}
.opciones-navegacion {
  text-decoration: none;
  color: inherit;
}
.opciones-navegacion:hover {
  text-decoration: underline;
}
.menu>li:nth-child(2) {
  font-weight: bold;
}
.seccion {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.seccion i,p {
  margin: 25px;
}

 .fa-plus-circle {
  color: rgba(37, 37, 37, 0.87);
  font-size: 25px;
}
input[type='checkbox'] {
    width: 22px;
    height: 22px;
    background:white;
    border: 1px;
}
.fa-times {
  color: rgba(37, 37, 37, 0.87);
  font-size: 24px;
  margin: 0px 5px 0px 20px;
}
.tabla {
  font-size: 20px;
  border-collapse: collapse;
  width: 98vw;
  margin: 0px 10px;
  border-bottom: dashed 1px white;

}
td {
  text-align: left;
  padding: 10px;
  width: 100%;
}
.resultado {
  font-size: 22px;
  text-align: right;
  padding: 18px;
}
.primer>td:first-child {
  text-decoration: line-through;
}
.tercer>td:first-child {
  text-decoration: line-through;
}
