:root {
  --colorcabecera: #5e81d1;
  --colorsection: #f87500;
  --colorcuerpo: #ff8d27;
}
  * {
  box-sizing: border-box;
  }
body{
  margin: 0;
  background-color: var(--colorcuerpo);
}
.cabecera {
  margin: 0;
  background-color: var(--colorcabecera);
}
.seccion {
  background-color: var(--colorsection);
}
.cabecera  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.cabecera h1,ul {
  margin: 20px;
}
.menu {
  padding: 0px;
}
.cabecera .menu>li {
  display: inline-block;
  padding: 5px;
}
.opciones-navegacion {
  text-decoration: none;
  color: inherit;
}
.opciones-navegacion:hover {
  text-decoration: underline;
}
.menu>li:nth-child(2) {
  font-weight: bold;
}
.seccion {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.seccion i,p {
  margin: 25px;
}

 .fa-plus-circle {
  color: rgba(37, 37, 37, 0.87);
  font-size: 25px;
}

.listado {
  padding: 0;
  padding-bottom: 10px;
  margin: 20px 5px 5px 5px;
  border-bottom: dashed white 1px;
}
.listado li {
  list-style:none;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
input[type='checkbox'] {
    width: 26px;
    height: 26px;
    background:white;
    border: 1px;
}
.fa-times {
  color: rgba(37, 37, 37, 0.87);
  font-size: 24px;
  margin: 0px 5px 0px 20px;
}
.lista-interna {
display: flex;
flex-direction: row;
padding: 0px;
margin: 5px;
}

