:root {
  --colorcabecera: #5e81d1;
  --colorsection: #f87500;
  --colorcuerpo: #ff8d27;
}
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: var(--colorcuerpo);
}
.cabecera {
  margin: 0;
  background-color: var(--colorcabecera);
}
.seccion {
  background-color: var(--colorsection);
}

